@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --darker-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

html{
    font-size: 15px;
}

*{
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 375px){

    body{
        background-color: var(--darker-blue);
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Inital Rating Card */
    .rating {
        background-color: var(--dark-blue);
        height: 45vh;
        width: 100%;
        margin: 1.5rem;
        padding: 2rem;
        border-radius: 1rem;
        color: var(--light-grey);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .rating-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rating-star img{
        background-color: hsla(216, 12%, 54%, 0.2);
        padding: 01rem;
        border-radius: 5rem;


    }

    .rating-text h1{
        color: hsla(0, 0%, 100%,0.9);
        font-size: 1.75rem;
        margin: .75rem 0;
    }

    .rating-text {

        font-size: .9rem;
        font-weight: 400;
    }

    .rating-buttons {
        width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
       

        
    }

    

    .rating-buttons span{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        line-height: 1rem;
        background-color: hsla(216, 12%, 54%, 0.25);
        padding: 1rem;
        border-radius: 100px;
        padding: 0;
        cursor: pointer;
       
        
    }

    .rating-buttons span:hover{
        background-color: hsla(25, 97%, 53%,1) !important; 
        color: var(--white) !important;
    }
    
    
    .rating-submit{
        width: 100%;
        height: 3rem;
    }

    .rating-submit button {
        background-color: var(--orange);
        width: 100%;
        height: 100%;
        color: var(--white);
        font-size: 1.0rem;
        letter-spacing: .25rem;
        border-radius: 3rem;
        border-style: none;
        cursor: pointer;
    }

    .rating-submit button:hover {
        background-color: var(--white) ;
        color: var(--orange) ;
        

    }


    /* Thank you Card*/
    .thank-you{
        /*background-image: linear-gradient(var(--medium-grey),var(--dark-blue));*/
        background-color: var(--dark-blue);
        width: 100%;
        height: 45vh;
        margin: 1.5rem;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
        border-radius: 1rem;
        color: var(--white);
    }

    .thank-you .thank-you-image img {
        width: 100%;
        height: auto;
        
    }
    .thank-you .thank-you-rating{
        color: var(--orange);
        font-weight: 400;
        width: auto;
        padding: .5rem .5rem;
        border-radius: 2rem;
        background-color: hsla(216, 12%, 54%,0.25);
        
        
    }



    .thank-you-text h1{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .thank-you-text p{
        font-size: 1rem;
        color: var(--light-grey);
    }

}
body{
    background-color: var(--darker-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Rating Card */
.rating {
    background-color: var(--dark-blue);
    height: 45vh;
    width: 375px;
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rating-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rating-star img{
    background-color: hsla(216, 12%, 54%, 0.2);
    padding: 01rem;
    border-radius: 5rem;


}

.rating-text h1{
    color: hsla(0, 0%, 100%,0.9);
    font-size: 1.75rem;
    margin: .75rem 0;
}

.rating-text p{

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.rating-buttons {
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   

    
}



.rating-buttons span{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    line-height: 1rem;
    background-color: hsla(216, 12%, 54%, 0.25);
    padding: 1rem;
    border-radius: 100px;
    padding: 0;
    cursor: pointer;
   
    
}

.rating-buttons span:hover{
    background-color: hsla(25, 97%, 53%,1) !important; 
    color: var(--white) !important;
}


.rating-submit{
    width: 100%;
    height: 3rem;
}

.rating-submit button {
    background-color: var(--orange);
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 1.0rem;
    letter-spacing: .25rem;
    border-radius: 3rem;
    border-style: none;
    cursor: pointer;
}

.rating-submit button:hover {
    background-color: var(--white);
    color: var(--orange);
    

}

/* Thank You Card */
.thank-you{
    /*background-image: linear-gradient(var(--medium-grey),var(--dark-blue));*/
    background-color: var(--dark-blue);
    width: 375px;
    height: 45vh;
    margin: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    border-radius: 1rem;
    color: var(--white);
}

.thank-you .thank-you-image img {
    width: 100%;
    height: auto;
    
}
.thank-you .thank-you-rating{
    color: var(--orange);
    font-weight: 400;
    width: auto;
    padding: .5rem .5rem;
    border-radius: 2rem;
    background-color: hsla(216, 12%, 54%,0.25);
    
    
}



.thank-you-text h1{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.thank-you-text p{
    font-size: 1rem;
    color: var(--light-grey);
    padding: 0 1.15rem;
}